body{
    background-color: pink;
    overflow-x: hidden;
}
.app
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.top
{
    /* border:2px solid black; */
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}

.middle
{
    display: flex;
    justify-content: space-around;
    margin:3%;
}

.bottom
{
    /* border:2px solid black; */
    display: grid;
    grid-template-columns: auto auto auto auto;
}